{% extends 'base.html' %}
{% block content %}

    
<div class="container">

    <img src="{{aluno.foto.url}}" alt="imagem de {{aluno.nome}}">

    <h3 class="mb-3">{{aluno.nome}}</h3>
    <div class="infosPessoais border p-3">
        <h3>informações Pessoais</h3>
        <div class="row">
            <div class="col-12">
                <p>Idade: {{aluno.idade}} </p>
                <p>CPF: {{aluno.cpf}} </p>

            </div>
        </div>
    </div>
    <div class="InfosContatos border p-3">
        <div class="row">
            <div class="col-12">
                <h3>Contatos</h3>
                <P>Email: {{aluno.email}} </P>
                <P>Contato:{{aluno.contato}} </P>
            </div>
            <div class="InfoResidencial border p-3">
                <div class="row">
                    <div class="col-12">
                        <h3>Localizção</h3>
                        <p>Endereço:{{aluno.endereco}} </p>
                        <p>CEP: {{aluno.cep}} </p>
                    </div>
                </div>
                
                <a href="{% url 'index' %}" class="btn btn-primary btn-sm bi m-2">👉Voltar</a>
                

                        {% endblock %}